/*	Sticky Notes Application
*/

.note{
	display: block;
	background-color: #B3C4D3;
	width: 300px;
	height: 350px;
	position: absolute;
	top: 15%;
	left: 10%;
	box-shadow: 10px 5px 5px black;
	transition: all .5s;
}

.note:hover{
	transform: rotate(12deg) scale(1.2);

}

.note_heading{
	height: 50px;
	border-bottom: 1px #52A515 solid;
	border-width: 3px;
	margin-top: 10px;
	text-align: center;
	text-indent:  10px;
	font-weight: bold;
	font-size: 1.3em
}

.note_content{
	margin-left: 10px;
	margin-top: 10px;
	font-family: "Reenie Beanie",arial,sans-serif;
	font-size: 1.6em;
	font-weight: bold;
}

.save_button{
	margin-left: 30px;
}

/* End Sticky notes */


/*
Simple File Upload [Sets uploaded Image as background]
*/
.input_file{
	margin-left: 30%;
	margin-top: 10%;
}
/* End Simple File Upload*/


/*
Dock
*/

.dock{
	margin-left: 2%;
	margin-top: 40%;
	float: left;
}

.dock_item{
	transition: all .5s;
}

.dock_item:hover{
	transform: translateY(-30px) scale(1.5);

}

/* End Dock */

/*
Drag n Drop File Upload
*/

.drop_container{
	float: left;
}

.drop_files{
	display: inline-block;
	margin-top: 100px;
	margin-left: 10px;
	padding-top: 100px;
	padding-left: 30px;
	height: 100px;
	width: 500px;
	background-color: #282433;
	border: 2px #16800A dashed;
	text-align: center;
	color: #DDDDDE;
	border-radius: 20px;
}

.drop_files_droping{
	display: inline-block;
	margin-top: 100px;
	margin-left: 10px;
	padding-top: 100px;
	padding-left: 30px;
	height: 100px;
	width: 500px;
	background-color: #443B3E;
	border: 5px #16800A solid;
	text-align: center;
	color: #DDDDDE;
	border-radius: 30px;
}

.preview{
	padding-left: 20px;
}

/* End Drag n Drop File */



/*
Media Queries
*/

.media_wrapper {
    border: solid 1px #666; 
    padding: 5px 10px;
    margin: 40px;
}

.viewing-area span {
    color: #666;
    display: none;
}

/* max-width */
@media screen and (max-width: 600px) {
    .one {
        background: #95B7E1;
    }
    span.lt600 {
        display: inline-block;
    }
}

/* min-width */
@media screen and (min-width: 900px) {
    .two {
        background: #83B652;
    }
    span.gt900 {
        display: inline-block;
    }
}

/* min-width & max-width */
@media screen and (min-width: 600px) and (max-width: 900px) {
    .three {
        background: #ED2024;
    }
    span.bt600-900 {
        display: inline-block;
    }
}

/* End Media Queries */

/* 
Drag and Drop
*/

#boxA, #boxB {
   float:left;padding:10px;margin:10px;
}
#boxA { background-color: #6633FF; width:75px; height:75px;  }
#boxB { background-color: #FF6699; width:150px; height:150px; }

/* End Drag and Drop */